<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

    Options +FollowSymLinks 
    RewriteCond %{HTTP_HOST} .
    RewriteCond %{HTTP_HOST} !^jasonpoon\.ca
    RewriteCond %{HTTP_HOST} !^127\.0\.0\.1
    RewriteRule (.*) http://jasonpoon.ca/$1 [R=301,L]
</IfModule>
